extends ../../layouts/default.pug
block main
  if (ProductCategory.title) 
    h1(class="mb-4") #{ProductCategory.title}

  if (ProductCategory.parent_idparent_id) 
    div(class="mb-4") Danh mục cha: <b>#{ProductCategory.parent_idparent_id}</b>

  //- if (ProductCategory.discountPercentage) 
  //-   div(class="mb-4") Giảm giá: <b>#{ProductCategory.discountPercentage}%</b>

  //- if (ProductCategory.stock)
  //-   div(class="mb-4") còn lại: <b>#{ProductCategory.stock}</b>

  if (ProductCategory.thumbnail)
    div(class="mb-4")
      img(
        src=ProductCategory.thumbnail
        style="width: 100px"
      )

  if (ProductCategory.status)
    div(class="mb-4")
      span Trạng thái:

      if (ProductCategory.status === "active")
        span(class="badge badge-success") Hoạt động

      else
        span(class="badge badge-danger") Dừng hoạt động

  if (ProductCategory.position)
    div(class="mb-4") Vị trí: <b>#{ProductCategory.position}</b>

  if (ProductCategory.description)
    div(class="mb-4") !{ProductCategory.description}
  
  a(
    href= `${prefixAdmin}/products-category/edit/${ProductCategory.id}`
    class="btn btn-warning"
  ) Chỉnh sửa
  script(src="/admin/js/product.js")